<footer>
    <div class="site_container">

        <div class="row">
            <div class="col-lg-3 footer_logo">
                <img src="{{ 'assets/img/header_logo.png'|theme }}">
                <p>BAKU-OXFORD SCHOOL</p>
                <div class="copyright">
                    <p>© Copyright 2015 · Baku-Oxford Sch ool · All Rights Reserved </p>
                    <a href=""><img src="{{ 'assets/img/nova_logo.svg'|theme }}"></a>
                </div>
            </div>
            <div class="col-lg-6 footer_menu">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="" class="footer_menu_title">ABOUT</a>
                        <ul>
                            <li><a href="">Head of School’s Welcome</a></li>
                            <li><a href="">Our History</a></li>
                            <li><a href="">Mission and Vision</a></li>
                            <li><a href="">Advisory Board</a></li>
                            <li><a href="">Academic and Events Calendar</a></li>
                            <li><a href="{{ 'news'|page }}">News</a></li>
                            <li><a href="">Useful Downloads</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <a href="" class="footer_menu_title">ADMISSION</a>
                        <ul>
                            <li><a href="">Early Years Foundation Stage</a></li>
                            <li><a href="">Primary School</a></li>
                            <li><a href="">Middle School</a></li>
                            <li><a href="">High School</a></li>
                            <li><a href="">College Guidance</a></li>
                            <li><a href="">University Destinations</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <a href="" class="footer_menu_title">QUICK LINKS</a>
                        <ul>
                            <li><a href="">School Trips and Events</a></li>
                            <li><a href="">PTA</a></li>
                            <li><a href="">Student Council</a></li>
                            <li><a href="">Sport</a></li>
                            <li><a href="">Activities</a></li>
                            <li><a href="">Technology</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 footer_contact">
                <p class="footer_menu_title">CONTACT US</p>
                <div><i class="material-icons">&#xe0c8</i><span>Baku Ox ford School, Abbaszadeh Str 8, AZ 1004, Baku, Azerbaijan</span></div>
                <div><i class="material-icons">&#xe0cd</i><span><a href="">(+994 12) 404 13 30</a></span></div>
                <div><i class="material-icons">&#xe8ad</i><span>(+994 12) 404 13 29</span></div>
                <div><i class="material-icons">&#xe158</i><span><a href="mailto:">info@bos.edu.az</a> <br/><a href="mailto:">admission@bos.edu.az</a></span></div>
                <div class="social-main">
                    <hr/>
                    <p>OUR SOCIALS</p>
                    <a href="" class="social_single">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="social_single">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</footer>
