[viewBag]

[staticMenu header]
code = "header"

[partners]
==
<header>
    <div class="header_section">
        <div class="site_container">
            <button class="navbar-toggler" type="button">
                <div class="icon" id="icon">
                    <div class="top"></div>
                    <div class="middle"></div>
                    <div class="bottom"></div>
                </div>
            </button>
            <div class="social-main">
                <a href="" class="social_single">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="social_single">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <ul>
                <li>
                    <form action="{{ 'search' | page }}" method="get">
                        <div class="input-group">
                            <input name="q" type="text" class="form-control" placeholder="Search" autocomplete="off">
                            <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i
                                                class="material-icons">search</i></button>
                                    </span>
                        </div>
                    </form>
                </li>
                {#<li>#}
                {#<div>#}
                {#<a href=""><i class="material-icons">language</i><span>EN</span></a>#}
                {#</div>#}
                {#</li>#}
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="site_container">
            <a class="navbar-brand" href="{{ 'homepage'|page }}">
                <img src="{{ 'assets/img/header_logo.png'|theme }}">
                <p>BAKU-OXFORD<br>SCHOOL</p>
            </a>
            <div class="mobile-nav animated slideOutLeft">

            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                {% if header.menuItems %}
                    {% partial "/nav" items=header.menuItems %}
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    $('.header_section form input').css('width', '0px');
    $(document).on("click", ".header_section form i", function () {
        $('.header_section form input').animate({
                width: '150px',
            }, 'slow'
        );
        $('.header_section form input').css('border-bottom', '1px solid #fff')
    })
    $(document).on('click', function (event) {
        if (!$(event.target).closest('.header_section form .input-group').length) {
            $('.header_section form input').animate({
                    width: '0px',
                }, 'slow'
            );
        }
    });
</script>